*{
    font-family: 'Courier New', Courier, monospace;
}
body {
            background-color: #1c1c1e;
            margin: 0;
            padding: 20px;
        }

        main {
            max-width: 600px;
            background-color: #fff;
            margin: 0 auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        h1, h2 {
            color: #444;
            text-align: center;
        }

        p {
            line-height: 1.6;
            color: #444;
        }

        input[type="text"] {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 12px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #218838;
        }

        #result {
            margin-top: 20px;
            font-size: 18px;
            color: #222;
            text-align: center;
        }
